# Python tutorial
## Basic DataStructure in Python | Day-3
This note book about datastructure we cover 4 types of datastructre in python

## Basic DataStructure in Python
1. Tuple
2. List
3. Dictionaries
4. Set

# 1. Tupal
- Enclosed in small paranthesis()
- Store different types of elements like float, int etc
- Order collection of elements
- Once elements are store it cannot be change(immutable)

In [2]:
# item is vairable that store different types of elemnts
item = (1, 2.5, "Oil", True)
print(item)

(1, 2.5, 'Oil', True)

In [4]:
# to find the types of variable
print(type(item))

<class 'tuple'>

- ### Indexing in Python

In [5]:
print(item)

(1, 2.5, 'Oil', True)

In [12]:
# to find the value on fist index, that is 0, because it start count from0
print(item[0])

1

In [8]:
item[3]

True

In [9]:
# to find the length of item variable
len(item)

4

In [11]:
item[0:3]  # it print from item 0 to item 2 that is 3, 0,1,2

(1, 2.5, 'Oil')

In [16]:
quanitity = (2, 3.5, "Sugar", False)
quanitity

(2, 3.5, 'Sugar', False)

In [18]:
# concatenate or add two tuple values
item+quanitity

(1, 2.5, 'Oil', True, 2, 3.5, 'Sugar', False)

In [19]:
# we can concatenate with multpy or subtact them for example
item*2+quanitity

(1, 2.5, 'Oil', True, 1, 2.5, 'Oil', True, 2, 3.5, 'Sugar', False)

In [20]:
# make another tuple variable that is score
score = (20, 40, 10, 50, 70)
score

(20, 40, 10, 50, 70)

In [30]:
# score value now repeate 3 times, because we multiply it with 3
score*3

(20, 40, 10, 50, 70, 20, 40, 10, 50, 70, 20, 40, 10, 50, 70)

In [21]:
# to find max value in score variable
max(score)

70

In [22]:
# to find min value
min(score)

10

---

 ## 2. List
- Ordered collection of elements
- enclosed in square [] brackets
- Mutatable , we can change the values

In [24]:
# make a list with name of variable list1
list1 = [2, "aziz", 2.5, False, 5]
list1

[2, 'aziz', 2.5, False, 5]

In [25]:
# to find type of list
type(list1)

list

In [26]:
# to find length 
len(list1)

5

In [27]:
# to find index of word
list1[3]

False

In [28]:
list2 = [3, "az", "rehman"]
list2

[3, 'az', 'rehman']

In [29]:
# concatenate list1 and list2
list1+list2

[2, 'aziz', 2.5, False, 5, 3, 'az', 'rehman']

In [31]:
list1

[2, 'aziz', 2.5, False, 5]

In [34]:
# append function is used to append value to existing list
list1.append("python")
list1

[2, 'aziz', 2.5, False, 5, 'python', 'python']

In [44]:
# count the words, in below python in two times in list that is why it print 2
list1.count("python")

2

In [42]:
# it reverse all values
list1.reverse()
list1

[2, 'aziz', 2.5, False, 5, 'python', 'python']

In [55]:
# feth the value, and remove from the list
list1.pop(0)

'aziz'

In [56]:
list3 = [2,5,7,6,1,2,3,0]
list3

[2, 5, 7, 6, 1, 2, 3, 0]

In [58]:
# sort the list
list3.sort()
list3

[0, 1, 2, 2, 3, 5, 6, 7]

---

## 3. Dictionaries
- Unordered collection of elements
- Curly braces use {}
- Muteable we can change values
- Keys and Values use

In [60]:
# fruit variable store values and keys
fruit = {"Apple":300,"Banana":200,"Orange":150}
fruit

{'Apple': 300, 'Banana': 200, 'Orange': 150}

In [61]:
# type of varaible
type(fruit)

dict

In [63]:
# seprate keys
fruit.keys()

dict_keys(['Apple', 'Banana', 'Orange'])

In [64]:
# seperate values
fruit.values()

dict_values([300, 200, 150])

In [68]:
# add some more things
fruit["Mango"] = 100
fruit

{'Apple': 300, 'Banana': 200, 'Orange': 150, 'Mango': 100}

In [69]:
# make another dictionary 
food = {"Samosa":100,"Pakora":140}
food

{'Samosa': 100, 'Pakora': 140}

In [70]:
fruit.update(food)
fruit

{'Apple': 300,
 'Banana': 200,
 'Orange': 150,
 'Mango': 100,
 'Samosa': 100,
 'Pakora': 140}

---

### 4. Set
- unordered and unindexed
- curly braces {}
- no duplicate allowed

In [75]:
# make a set, 
s1 = {1, 3.5, "aziz", True} # something notice in output, it not print True because we write 1 in this set
s1                          # because 1 means True and 0 means False, it prints either 1 or True and either 
                            # prints 0 0r false. lets see more about these

{1, 3.5, 'aziz'}

In [77]:
s2 = {0, "aziz", True}   # it prints true becasue we no write here 1 
s2

{0, True, 'aziz'}

In [80]:
s3 = {0, "aziz", False}  # now it not print False becasue we write 0 here
s3

{0, 'aziz'}

In [83]:
s4 = {False, "aziz", 0}  # now it prints False, because we write False before 0, that is why it print firt False
s4

{False, 'aziz'}

In [84]:
# add things in s4
s4.add("python")
s4

{False, 'aziz', 'python'}

In [86]:
s4.add("aziz")  # it not add aziz because it has already in sets, it not add duplicate values
s4

{False, 'aziz', 'python'}

In [89]:
# remove any elements from sets
s4.remove("python")
s4

{False}

In [96]:
# copy elements from one set
s4 = s3.copy()
s4

{0, 'aziz'}

In [94]:
# clear the elements
s4.clear()

In [105]:
# interset elements s1 and s2
s5 = s1.intersection(s2)
s5

{True, 'aziz'}

In [104]:
# difference of s1 and s2
s6 = s1.difference(s2)
s6

{3.5}